/* external css: flickity.css */
@import url("fonts/ivymode.css");
@import url("fonts/athelas.css");
@import url('image-gallery.css');

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.score-gallery {
    padding-bottom: 0;
    display:block;
    position:relative;
}

.carousel {
  margin-bottom: 5vmin;
  margin-top: 4vmin;
}

.carousel-cell {
  width: 30%;
  height: auto;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell img {
    width: 100%;
    display: block;
  }

/* white circles */
.flickity-page-dots .dot {
width: 12px;
height: 12px;
opacity: 1;
background: rgb(100,100,100) !important;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
background: rgb(200, 200, 200) !important;
}

.overlay-text {
display: flex;
justify-content: center;
align-items:center;

font-size: 2.5vmin;
line-height: 100%;
font-family:"Athelas Arabic";
text-transform: uppercase;
font-weight:600;
text-align:center;

position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
padding: 2vmin;


opacity: 1;
transition: .4s ease;

background-color: rgba(255,255,255,0.65);
color:rgb(37, 4, 4);

}

.overlay-text:hover {
opacity: 0;
}

@media only screen and (max-width: 700px) {
    .carousel-cell{
        width:50%;
    }
    .overlay-text {
        font-size:4vw;
    }
  }
  
  
  @media only screen and (max-width: 540px) {
    .carousel-cell{
        width:100%;
    }
    .overlay-text {
        font-size:5vw;
    }

    .carousel {
        margin-bottom: 7vw;
      }
  }
